(
	selected_tab: Some("Yellow"),
	command_fg: Some("LightCyan"),
	selection_bg: Some("Black"),
	selection_fg: None,
	cmdbar_bg: Some("Reset"),
	cmdbar_extra_lines_bg: Some("Black"),
	disabled_fg: Some("LightGreen"),
	diff_line_add: None,
	diff_line_delete: None,
	diff_file_added: Some("Green"),
	diff_file_removed: Some("Red"),
	diff_file_moved: None,
	diff_file_modified: None,
	commit_hash: None,
	commit_time: Some("LightMagenta"),
	commit_author: None,
	danger_fg: None,
	push_gauge_bg: Some("Black"),
	push_gauge_fg: None,
	tag_fg: None,
	branch_fg: None,
	line_break: Some("¶"),
	block_title_focused: None,
)
